<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCat - <%= room %></title>
	<link rel="stylesheet" href="/css/chatroomStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		'use strict'
		$(() => {
			
			const socket = io('<%= host %>' + '/chatter', {
				transports: ['websocket']
			});
			const roomID = '<%= roomID %>';
			const user = '<%= user.fullName %>';
			const userPic = '<%= user.profilePic %>';
			const chatUsers = $('.chatUsers');
            const chatInput = $('input[name=userInput]'); 
            const chatMessagesDiv = $('.chatMessages')
            const imagePick = $('#uploadFile');

			socket.on('connect', () => {
				socket.emit('join', {
					roomID,
					user,
					userPic
				});
			});

			const userList = user => {
				return `<div class="userBlock">
					<div class="userPic"><img src="${user.userPic}" alt="${user.user}"></div>
					<div class="cuserName">${user.user}</div>
				</div>`;
			};

			socket.on('updateUserList', data => {
				let parsedData = JSON.parse(data);
				let allusers = parsedData.users;
				let usersDataList = '';
				for(let user of allusers) {
					usersDataList += userList(user);
				}
				chatUsers.html('').append(usersDataList);
			});

             let updateFeed = (userPic, message) => {
				let template = `<div class="chatBlock">
						<div class="userPic"><img src="${userPic}"></div>
						<div class="chatMsg">${message}</div>
					</div>`;
				$(template).hide().prependTo(chatMessagesDiv).slideDown(200);
			}
			chatInput.on('keyup',function(event){

				event.preventDefault();

			    let messageData = $(this);

			    if(event.which === 13 && messageData.val() !== ''){
			    	socket.emit('messagein',{
			    		user,
			    		userPic,
			    		roomID,
			    		message : messageData.val()
			    	});
                    updateFeed(userPic,messageData.val());
			    	messageData.val('');
			    } 
			});

			socket.on('messagedis',data=>{
				let disData = JSON.parse(data);
				updateFeed(disData.userPic,disData.message);
			});

			imagePick.on('change',function(event){
                let file = event.target.files[0];
		       let formData = new FormData();

				formData.append('file',file);
				formData.append('upload_preset','nr9qmapr');

				axios({
					url : 'https://api.cloudinary.com/v1_1/dhsidurof/upload',
					method : 'POST',
					headers : {
						'Content-Type' : 'application/x-www-form-urlencoded'
					},
					data : formData

				}).then(function(res){

					
					let temp = '';
						
					    temp = `<img src="${res.data.secure_url}">`;
					
						updateFeed(userPic,temp);
						socket.emit('messagein',{
			    		user,
			    		userPic,
			    		roomID,
			    		message : temp
			    	});



				}).catch((error)=>console.log(error));
			});
				
			


		});
	</script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatCAT | <%= room %></h1>
		</div>
		<div class="controls">
			<div class="userPicHolder"><img src="<%= user.profilePic %>" alt="<%= user.fullName %>"></div>
			<p class="userName"><%= user.fullName %></p>
			<a href="/rooms" id="roomsBtn">Rooms</a>
			<a href="/logout" id="logOutBtn">Logout</a>
		</div>
		<div class="chatListDiv">
			<div class="chatMessagesPanel">
				<div class="chatMessages">
				<!-- Loop this for chat messages -->
									
				<!-- loop end -->
				</div>
				<div class="typePanel">
					<input type="text" name="userInput" placeholder="Type here and press enter">
					<label for ="uploaFile" class="fileUploadBtn">Photo</label> 
					<input type="file" id="uploadFile" class="fileUploadBtn">
				</div>
			</div>
			<div class="chatUsers">
			<!-- Loop this for chat users -->
				<div class="userBlock">
					<div class="userPic"><img src="" alt="John Doe"></div>
					<div class="cuserName">John Doe</div>
				</div>
			<!-- loop end -->
			</div>
		</div>
	</div>
</body>
</html>
